.cwp-surface-classic.cwp-theme-native video,
.cwp-surface-classic.cwp-theme-native object {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}
.cwp-surface-classic.cwp-theme-native .cwp-essence {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}
.cwp-surface-classic.cwp-theme-default {
  position: absolute;
  left: 0;
  text-align: left;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #000;
  width: 100%;
  height: 100%;
}
.cwp-surface-classic.cwp-theme-default video,
.cwp-surface-classic.cwp-theme-default object {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cwp-surface-classic.cwp-theme-default .cwp-essence {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}
.cwp-surface-classic.cwp-theme-default .cwp-renderer {
  width: 100%;
  height: 100%;
}
.cwp-surface-classic.cwp-theme-default .cwp-get-flash {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  color: #fff;
}
.cwp-surface-classic.cwp-theme-default .cwp-get-flash img {
  width: 160px;
  height: 41px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -80px;
  margin-top: -20px;
}
.cwp-surface-classic.cwp-theme-default .cwp-state-live {
  display: block;
}
.cwp-surface-classic.cwp-theme-default .cwp-state-dead {
  display: none;
}
.cwp-surface-classic.cwp-theme-default .cwp-media {
  width: 100%;
  height: 100%;
}
.cwp-surface-classic.cwp-theme-default .cwp-poster {
  width: 100%;
  height: 100%;
}
.cwp-surface-classic.cwp-theme-default .cwp-poster img {
  display: block;
  width: 100%;
  height: 100%;
}
.cwp-surface-classic.cwp-theme-default .cwp-surface {
  width: 100%;
  height: 100%;
  position: relative;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 100;
}
.cwp-surface-classic.cwp-theme-default .cwp-controls {
  bottom: 0;
  left: 0;
  list-style-type: none;
  margin: 0;
  padding: 4px 13px;
  height: 25px;
  position: absolute;
  z-index: 20000;
  right: 0;
  color: #fff;
  white-space: nowrap;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  background: #000;
  background: rgba(0, 0, 0, 0.6);
}
.cwp-surface-classic.cwp-theme-default .cwp-controls.cwp-state-dead {
  display: block;
  opacity: 0;
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
.cwp-surface-classic.cwp-theme-default .cwp-controls.cwp-state-live {
  display: block;
  opacity: 1;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.cwp-surface-classic.cwp-theme-default .cwp-controls .cwp-button span {
  background: url("images/controls.png") no-repeat scroll 0 0 transparent;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 20px;
  line-height: 0;
  margin: 0;
  text-decoration: none;
  width: 20px;
}
.cwp-surface-classic.cwp-theme-default .cwp-controls .cwp-button.cwp-play-control span {
  width: 13px;
  height: 16px;
  margin: 5px 7px;
  background-position: -13px -2px;
}
.cwp-surface-classic.cwp-theme-default .cwp-controls .cwp-button.cwp-fullscreen-control span {
  width: 18px;
  background-position: -2px -17px;
  margin: 4px 7px;
}
.cwp-surface-classic.cwp-theme-default .cwp-controls .cwp-button.cwp-volume-control {
  position: relative;
  width: auto;
}
.cwp-surface-classic.cwp-theme-default .cwp-controls .cwp-button.cwp-volume-control span {
  background-position: -42px 0px;
  margin: 4px 5px;
  float: left;
}
.cwp-surface-classic.cwp-theme-default .cwp-controls .cwp-volume-slider {
  width: 40px;
  float: left;
  margin: 0;
}
.cwp-surface-classic.cwp-theme-default .cwp-controls .cwp-volume-slider .cwp-slider-inner {
  position: relative;
  top: 11px;
  width: 100%;
}
.cwp-surface-classic.cwp-theme-default .cwp-controls .cwp-volume-slider .cwp-volume-total {
  position: absolute;
  width: 100%;
  height: 4px;
  background: #DDD;
  background: rgba(255, 255, 255, 0.5);
  margin: 0;
}
.cwp-surface-classic.cwp-theme-default .cwp-controls .cwp-volume-slider .cwp-volume-current {
  position: absolute;
  width: 2px;
  height: 4px;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  margin: 0;
}
.cwp-surface-classic.cwp-theme-default .cwp-controls .cwp-volume-slider .cwp-volume-handle {
  width: 0;
  visibility: hidden;
}
.cwp-surface-classic.cwp-theme-default .cwp-controls div {
  list-style-type: none;
  background-image: none;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 26px;
  height: 26px;
  font-size: 11px;
  line-height: 11px;
  font-family: Helvetica,Arial;
}
.cwp-surface-classic.cwp-theme-default .cwp-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  margin: -40px 0 0 -40px;
  z-index: 50000;
  background: #333;
  background: rgba(0, 0, 0, 0.9);
  display: none;
}
.cwp-surface-classic.cwp-theme-default .cwp-spinner span {
  display: block;
  width: 80px;
  height: 80px;
  background: transparent url(images/loading.gif) 50% 50% no-repeat;
}
.cwp-surface-classic.cwp-theme-default.cwp-state-play .cwp-overlay {
  background: rgba(0, 0, 0, 0);
}
.cwp-surface-classic.cwp-theme-default.cwp-state-play .cwp-overlay .cwp-overlay-control {
  background: none;
  display: none;
}
.cwp-surface-classic.cwp-theme-default.cwp-state-play .cwp-button.cwp-play-control span {
  width: 9px;
  background-position: -2px -1px;
}
.cwp-surface-classic.cwp-theme-default.cwp-state-fullscreen {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100000;
}
.cwp-surface-classic.cwp-theme-default.cwp-state-fullscreen .cwp-button.cwp-fullscreen-control span {
  background-position: -22px -17px;
}
.cwp-surface-classic.cwp-theme-default.cwp-state-mute .cwp-controls .cwp-volume-control span {
  background-position: -42px -18px;
}
.cwp-surface-classic.cwp-theme-default .cwp-overlay {
  cursor: pointer;
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: rgba(0, 0, 0, 0);
  overflow: visible;
}
.cwp-surface-classic.cwp-theme-default .cwp-overlay:hover .cwp-overlay-control {
  opacity: 1;
}
.cwp-surface-classic.cwp-theme-default .cwp-overlay .cwp-overlay-control {
  background: url("images/bigplay.png") no-repeat scroll left top transparent;
  height: 100px;
  left: 50%;
  margin: -36px 0 0 -36px;
  position: absolute;
  top: 50%;
  width: 72px;
  z-index: 10000;
  display: block;
  filter: none!important;
  opacity: .5;
}
.cwp-surface-classic.cwp-theme-default div.cwp-time-control {
  display: block;
  height: 17px;
  width: auto;
  padding: 8px 3px 0 3px;
  overflow: hidden;
  text-align: center;
}
.cwp-surface-classic.cwp-theme-default div.cwp-scrubber-control {
  width: 200px;
  padding-top: 6px;
}
.cwp-surface-classic.cwp-theme-default div.cwp-scrubber-control span {
  display: block;
  position: absolute;
  height: 4px;
  cursor: pointer;
}
.cwp-surface-classic.cwp-theme-default div.cwp-scrubber-control .cwp-time-total {
  background: #333;
  background: rgba(50, 50, 50, 0.8);
}
.cwp-surface-classic.cwp-theme-default div.cwp-scrubber-control .cwp-scrubber-inner {
  display: block;
  margin: 5px;
  height: 10px;
}
.cwp-surface-classic.cwp-theme-default div.cwp-scrubber-control .cwp-time-loaded {
  background: #DDD;
  background: rgba(255, 255, 255, 0.5);
}
.cwp-surface-classic.cwp-theme-default div.cwp-scrubber-control .cwp-time-played {
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
}
.cwp-surface-classic.cwp-theme-default div.cwp-scrubber-control .cwp-time-handle {
  position: absolute;
  margin: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: url(images/controls.png) -29px -3px no-repeat;
  cursor: pointer;
  top: -3px;
  text-align: center;
}
.cwp-surface-classic.cwp-theme-default div.cwp-scrubber-control .cwp-time-float {
  display: none;
}
