/* ----------------------------------------------------
   created with http://www.texturepacker.com 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:38f7744c168ca729402bda8d74408261$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(controls.png);}

.Video_Player_Pause_Small {width:9px; height:14px; background-position: -2px -2px}
.Video_Player_Play_Small {width:13px; height:16px; background-position: -13px -2px}
.Video_Player_Shape {width:12px; height:12px; background-position: -28px -2px}
.Video_Player_Sound_icon {width:14px; height:11px; background-position: -42px -2px}
.Video_Player_full_screen {width:18px; height:12px; background-position: -2px -20px}
.Video_Player_full_screen_back {width:18px; height:12px; background-position: -22px -20px}
.Video_Player_noSound_icon {width:16px; height:11px; background-position: -42px -20px}
